<p>validator-facial works!</p>

<div class="biometria-card">
    <h2>Verificación de Identidad</h2>
    <p class="status-badge">{{ estadoMensaje }}</p>

    <div class="video-wrapper">
        <!-- Stream en vivo -->
        <video #videoElement autoplay playsinline></video>
        <!-- Canvas fantasma para recortar la foto -->
        <canvas #canvasElement style="display: none;" width="640" height="480"></canvas>

        <div>
            <button (click)="activarCamara()">Activar Cámara</button>
            <button (click)="desactivarCamara()">Desactivar Cámara</button>
        </div>
    </div>

    <div class="actions">
        <button (click)="ejecutarEscaneo()" [disabled]="cargando">
            {{ cargando ? 'Procesando...' : 'Escanear Rostro' }}
        </button>
    </div>
</div>


<!-- Contenedor del resultado (Solo se muestra si resultadoBackend tiene datos) -->
<div *ngIf="resultadoBackend" class="resultado-box">
  <h3>📊 Resultado del Análisis Biométrico:</h3>
  
  <p><strong>¿Operación exitosa?:</strong> {{ resultadoBackend.success ? 'Sí' : 'No' }}</p>
  
  <p><strong>¿Es la misma persona?:</strong> 
    <span [style.color]="resultadoBackend.es_la_misma_persona ? 'green' : 'red'">
      {{ resultadoBackend.es_la_misma_persona ? '✅ IDENTIDAD VERIFICADA' : '❌ NO ES LA MISMA PERSONA' }}
    </span>
  </p>

  <p><strong>Distancia matemática (Umbral):</strong> {{ resultadoBackend.distancia_matematica }}</p>
</div>
<h2> ----- MAS PRUEBAS de  letras -----</h2>
<h1 class="texto-movimiento">¡Hola, texto en movimiento!</h1>
<h1 class="texto-ola">
  <span style="--i:1">H</span>
  <span style="--i:2">o</span>
  <span style="--i:3">l</span>
  <span style="--i:4">a</span>
  <span style="--i:5">&nbsp;</span> <!-- Espacio en blanco -->
  <span style="--i:6">M</span>
  <span style="--i:7">u</span>
  <span style="--i:8">n</span>
  <span style="--i:9">d</span>
  <span style="--i:10">o</span>
</h1>
